*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/images/bg17.png);
    background-size: cover;
}

.logo{
    margin: 65px 0 0 160px;
    font-size: 4.2em;
    font-family: cursive;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.846);
    
}

#logo-data{
    text-shadow: 2px 2px 2px rgb(12, 12, 12)   ;
}

.sec1{
    background-color: rgba(255, 255, 255, 0.921);
    /* border: solid black 1px; */
    width: 50%;
    height: 500px;
    margin: 5% 25% 0 25%;
    border-radius: 2%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.661); 
}

.intro{
    width: 48.4%;
    height: 500px;
    background-color: rgba(54, 109, 217, 0.925);
    background-size: cover;
    /* border-right: solid; */
    border-radius: 2%;
    
}

.Login-logo{
    text-align: center;
    font-size: 2.3em;
    font-weight: 900;
    font-family: sans-serif;
    font-style: normal;
    padding: 6% 18% 0% 18%;
}

.login-data{
    text-align: center;
    padding: 3px;
}

form {
    padding: 8px;
    padding-bottom: 0;
}


form > input{
    background-color: rgba(219, 218, 218, 0.928);
    padding: 5px 5px 5px 15px;
    width: 250px;
    font-size: 1.1em;
    color: black;
    border: solid 0 ;
    border-radius: 3px;
    transition: background-color 1s;
    
}

form > input:hover{
    background-color: rgba(183, 181, 181, 0.88);
}

.submit-btn{
    width: 135px;
    text-align: center;
    border-radius: 25px 25px;
    background-color: rgb(0, 71, 165);
    padding: 7px;
    font-size: 1.5em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: solid 0 rgba(255, 255, 255, 0.921);
    transition:  box-shadow 1s, padding 1s;
}

.submit-btn:hover{
    padding: 8.5px 11px 8.5px 11px;
    box-shadow: 4px 2px 4px rgb(0, 0, 0);
}

.intro1{
    text-align: center;
    height: 40%;
    color: rgb(255, 210, 147);
    font-size: 3em;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    padding: 75px 75px 0 75px;
}

.intro2{
    text-align: center;
    height: 60%;
    color: rgb(255, 224, 193);
    font-size: 1.5em;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 25px 25px 25px;
}

h2{
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px;
}


h4 {
    font-size: 20px;
    text-align: center;
    color: #00000091;
    display: flex;
    flex-direction: row;
    margin-left: 125px;
    margin-right: 118px;
    margin-bottom: 20px;
}
  
h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #00000061;
    margin: auto;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }